<style>
  header {
    background-color: red;
    margin: 10px 10px 10px 10px;
  }

  h1 {
    color: white;
    text-align: center;
  }
  html {
    background-color:lightblue
  }
  p { id=opening;
    text-align: center;
  }
  img {
    margin-left: 225px;
    margin-right: 300px;
  }
  p { id=imgdesc;
    text-align:center;
  }
  p { id=closing;
    text-align: center;
  }
  div { class=thanks;
    text-align:center;
  }
  button a { id="joe"
    text-align: center;
    background-color: white;
    color: black;
    text-decoration: none;
  }
</style>