<style>
  body {
    background-image: url(https://puwsbg.dm2301.livefilestore.com/y4mEJVE2ncmY_V_Bub63d6iUqezKoFZxzAubGBnuWnwiH-zOku2uhX08dU4BhTy5B6pmvg8BYxlrrB-NNtbQ-5y2UfWBVB1NjnNBQ0mhcEV5Mt-cQZc4idDE_Q541MIHk9uE0XofimCJ3aWA6QNn6CLSmnW_6DsfImgpLDkL-Vkz6U22ORfK_zFfTMTHPXhKmAnkjt0d53rvcN4Ec5A0DSU-g?width=1920&height=1200&cropmode=none);
  }
  header {
    text-align: center;
    color: #999;
  }
  h2 { id="welcome"
    text-align: center;
    color: #999;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #111;
  }
  li {
    display: inline-block;
    width: 100px;
  }
  li a {
    color: white;
    text-decoration-line: none;
    margin: 5px;
    padding: 8px;
  }
  li a:hover {
    background-color: #999;
    color: lightblue;
  }






</style>
