
   h1 {
     color: #999;
     text-align: center;
     margin-right: ;
   }
   body {
     background-image: url(https://puwsbg.dm2301.livefilestore.com/y4mEJVE2ncmY_V_Bub63d6iUqezKoFZxzAubGBnuWnwiH-zOku2uhX08dU4BhTy5B6pmvg8BYxlrrB-NNtbQ-5y2UfWBVB1NjnNBQ0mhcEV5Mt-cQZc4idDE_Q541MIHk9uE0XofimCJ3aWA6QNn6CLSmnW_6DsfImgpLDkL-Vkz6U22ORfK_zFfTMTHPXhKmAnkjt0d53rvcN4Ec5A0DSU-g?width=1920&height=1200&cropmode=none);
   }

  #opening{
     text-align: center;
     font-size: 1.3em;
     font-family: sans-serif;
    line-height: 45px;
    margin-left: 25%;
    margin-right: 25%
   }
   img {
    margin-left: 30%;
    margin-right: 0px;
    margin-top: -2%;
    height: auto;
    width: 5em;
    float: left;
    padding: 0px;
   }

#imgdesc {
     text-align:center;
    margin-left: 42%;
    margin-right: 42%;
   }

+#closing {
     text-align: center;
   }


  header p {
    background-color: rgba(206, 125, 205, 0.5);
    background: rgba(206, 125, 205, 0.5);
    padding: 1em;
    border-radius: 5px;

  }

a:hover {
  color: rgba(141, 37, 193, 1);
  background-color: white;
  border-radius: 5px;
}
a {
  background-color: #111;
  padding-left: 2px;
  padding-right: 2px;

}

#navbar {
     margin: 0;
     padding: 0;
     text-align: center;
     background-color: #111;
    margin-left: 35%;
    margin-right: 35%;
    font-size: 1.5em;
    color: Blue;
  adding-top: 2px;
    padding-bottom: 2px;
   }
   li {
     display: inline-block;
     margin: 5px;
     padding: 8px;
   }

.thanks {
     text-align: center;
  background-color: rgba(206, 125, 205, 0.5);
  margin-left: 44%;
  margin-right: 44%;
   }

.preview {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.slider {
  overflow: hidden;
  height: 100%;
}

.slider figure div {
  width: 20%;
  float: left;
}

.slider figure img {
  width: 100%;
  ;
}

.slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  Left: 0;
  animation: 20s slidy infinite;
}

p {
  z-index: 10000;
  font-size: ;
  text-align: center;
  width: 80%;
  padding-top: px;
  color: black;
  font-family: 'Lato';
}

@keyframes slidy {
  0% {
    Left: 0%;
  }
  10% {
    Left: 0%;
  }

  12%{
    Left: -100%;
  }

  22% {
    Left: -100%;
  }

  24% {
    Left: -200%;
  }

  34% {
    Left: -200%;
  }

  36% {
    Left: -300%;
  }

  46% {
    Left: -300%;
  }

  48% {
    Left: -400%;
  }

  58% {
    Left: -400%;
  }


}
