body {
    background-color:rgb(128,128,128);
}
div {
    text-align:center;
    background-color:rgba(255, 255, 255, 0.5);
    border-radius:7%;
}
h1, h2 {
    text-align:center;
    color:rgb(0,0,0);
    font:bold;
    font-size:1.8em;
    font-family:'Orbitron';
}