body {
    background-color:rgb(90,150,175);
}
div {
    text-align:center;
    background-color:rgba(255, 255, 255, 0.6);
    border-radius:4px;
}
h1, h2 {
    text-align:center;
    color:rgb(0,0,0);
    font:bold;
    font-size:1.8em;
    font-family:'Orbitron';
}